<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, 
            voluptatum, rem impedit iste laudantium necessitatibus natus temporibus et, voluptate vero recusandae quam accusantium 
            expedita veritatis repellat magni odit quaerat voluptatibus eligendi maxime commodi officiis culpa. Corrupti eum vitae ratione magnam?</p>
    </div>
</div>