<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS & Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi porro molestiae dignissimos illum recusandae unde animi fugit, iusto repellendus, esse, at tempora ipsum numquam! Debitis asperiores iure qui nobis praesentium.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, 
        inventore ut consequuntur sunt explicabo consequatur eius
        quas perspiciatis voluptatem natus rem molestias odio perferendis doloribus beatae ea incidunt a alias?</p>
    <a target="_blank" href="https://github.com/Ivanrenes" class="btn btn-dark btn-lg">GitHub</a>

</div>